<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>your number is <%= diceNum %></h1>
  <%  if(diceNum===6){%>
    <h1>Nice ! dice again </h1>
    <% }%>
</body>
</html>